@import (once) "via.ui.util.less";
@import (once) "var";

.main {
  padding-top: 5px;
  min-height: 100px;
  height: 100%;
}

.album {
  width: 120px;
  height: 120px;
  .border-radius(3px);
  .box-shadow(0,0,5px,0,rgba(0,0,0,0.1));
  background: @ctr-bar-color;
  margin: 1%;
  display: inline-block;
}