@import (once) "via.ui.util.less";
@import (once) "var";

.main {
  padding-top: 5px;
  min-height: 100px;
  height: 100%;
}

.album {
  width: 150px;
  height: 150px;
  .border-radius(3px);
  .box-shadow(0,0,5px,0,rgba(0,0,0,0.3));
  background: @ctr-bar-color;
  display: inline-block;
  float: left;
  margin: 10px;
}