@import (once) "via.ui.util.less";
@import (once) "var.less";

@progress-def-color:#bcbcbc;
@progress-bar-color:@default-color;

@ctr-bar-wrap-height:70px;
@ctr-bar-wrap-padding-bottom:20px;
.ctr-bar-wrap {
  width: 100%;
  height: @ctr-bar-wrap-height;
  position: fixed;
  padding-bottom: @ctr-bar-wrap-padding-bottom;
  .transition(top,0.3s,ease,0.5s);
  top: -@ctr-bar-wrap-height+@ctr-bar-wrap-padding-bottom + 5px;
  left: 0;
  &:hover,&.pin {
    top:0;
    position: relative;
  }
}

.ctr-bar {
  width: 100%;
  height: 100%;
  .linear-gradient(0,lighten(@gradient-color-from,10%),lighten(@gradient-color-to,10%));
  border-bottom: 1px solid lighten(@default-color,20%);
  .box-shadow(0,2px,2px,0,rgba(0,0,0,0.15));
  position: relative;

}

.active-animate() {
  .animation(border-color-breath,2s);
  .keyframes(border-color-breath,{
    0%
    {
      border-bottom-color: lighten(@selected-color,30%);
    }
    50%
    {
      border-bottom-color: lighten(@selected-color,10%);
    }
    100%
    {
      border-bottom-color: lighten(@selected-color,30%);
    }
  });
}

.controller {
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
  li {
    display: inline-block;
    a {
      font-size: 30px;
      padding: 10px;

    }
    &:active {
      a {
        color:darken(@default-color,20%);
      }
    }
    &.active {
      a {
        padding-bottom: 10px - 5px;
        border-bottom: 5px solid @selected-color;
        .active-animate();
      }
    }
    &.disable {
      a {
        color:lighten(@default-color,20%);
      }
    }
  }
}

.controller-wrap {
  padding: 10px;
  height: 100%;
  div {
    height: 100%;
  }
}

.display-bar-wrap {
  height: 100%;
}

.display-bar{
  background: @ctr-bar-color;
  border:1px solid lighten(@default-color,20%);
  border-bottom: none;
  border-top: none;
  position: relative;
  text-align: center;
  padding-top: 10px;
  height: 100%;
  h3 {
    font-size: 18px;
    font-weight: bold;
    color: @default-color;
    white-space: nowrap;
    overflow: hidden;
  }

  p {
    font-size: 12px;
    color: lighten(@default-color,30%);
    white-space: nowrap;
    overflow: hidden;
  }



  .progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: @progress-def-color;

    .bar {
      display: inline-block;
      float: left;
      height: 100%;
      width: 0;
      background: @default-color;
      .transition(width,0.3s,ease);
      .clearfix();
    }
  }
}


@slider-height:30px;
@handler-radius: 15px;
.volume-wrap {
  padding: 10px;
  height: 100%;
}

.slider {

  width: 100%;
  max-width: 100px;

  height: @slider-height;
  margin: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;

  &:before,& .bar {
    @body-height:4px;
    content: "";
    display: block;
    height: @body-height;
    top: @slider-height/2-@body-height/2;
    .border-radius(@body-height/2);
    position: absolute;
  }
  &:before {
    width: 100%;
    background: @progress-def-color;
  }
  .bar {
    background: @default-color;
    width: 0;
    &.animate {
      .transition(width,0.3s,ease);
    }
  }

  .handler {
    width: @handler-radius;
    height: @handler-radius;
    top:8px;
    margin-right: -10px;
    .border-radius(@handler-radius/2);
    border: 1px solid @default-color;
    .box-shadow(1px,2px,3px,0,rgba(0,0,0,0.1));
    background: #ffffff;
    position: absolute;
    &:active {
      background: lighten(@default-color,30%);
    }
  }
}


.search {
  height: 30px;
  width:100%;
  max-width: 200px;
  .border-radius(15px);
  border:1px solid @default-color;
  padding: 5px 13px;
  font-size: 14px;
  &:focus {
    .box-shadow-inset(0,0,5px,0,@selected-color);
  }
  outline: none;
  -webkit-outline:none;
  -moz-outline:none;
}

.input-files {
  @input-radius:30px;
  width: @input-radius;
  height: @input-radius;
  position: relative;
  .border-radius(@input-radius/2);
  padding: 5px;
  font-size: 16px;
  color: @default-color;
  border: 1px solid @default-color;
  .box-shadow(0,0,5px,0,rgba(0,0,0,0.2));
  text-align: center;
  float: left;
  &:hover,&:active {
    background: @selected-background-color;
    color: @selected-color;
  }

  input {
    opacity: 0;
    width: @input-radius;
    height: @input-radius;
    .border-radius(@input-radius);
    position: absolute;
    left: 0;
    top: 0;
  }
}

.search-bar {
   padding: 10px;
 }

.bar-category {
  list-style: none;
  li {

  }
}